input:focus::-webkit-input-placeholder {
    color:transparent;
 }
 
 input:focus:-moz-placeholder { /* Firefox 18- */
    color:transparent; 
 }
 
 input:focus::-moz-placeholder {  /* Firefox 19+ */
    color:transparent; 
 }
 
 input:focus:-ms-input-placeholder {  
    color:transparent;
 }